.detail{
    max-width: 1540px;
}

.detail_frame{
    width: 1380px;
    display: flex;
}

.detail_left, .detail_right{
    width: 690px;
}

.detail_image{
    width: 600px;
    height: 600px;
    margin: 35px 45px;
    border-radius: 4px;
}